@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
}

.root-app {
  height: 100vh;;
}

.scroll {
  overflow: scroll;
}

.margin {
  margin: 0 2rem
}

.padding {
  padding: 1rem 0;
}

.highlighted {
  color: #7F6CE8;
}